body {
    display: flex;
    flex-direction: column;
    background: black;
    justify-content: center;
    justify-items: center;
    background-position: top;
}
img.capoeira {
    opacity: 50%;
    margin: 100px;
    border-radius: 50%;
    position: fixed;
    width: 500px;
    height: 350px;
    background-position: top;
}
img.natal
{
    opacity: 50%;
    margin: 100px;
    border-radius: 50%;
    position: fixed;
    width: 500px;
    height: 350px;

}
